/* BasicInfoComponent.css */

.basic-info-container {
  margin-right: 6rem;
  padding: 9px;
  display: inline-block;
}

.basic-info-title {
  font-weight: bold;
  padding: 6px;
}

.basic-info-content {
  padding: 9px;
}

.account-history-title {
  font-weight: bold;
  padding: 5px;
  margin-bottom: 16px;
}

.list-item-container {
  border: 1px solid #e8e8e8 !important;
  border-radius: 4px;
  margin-bottom: 8px;
}

.list-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.list-item-text {
  flex: 1;
  font-weight: bold;
}

.list-item-details {
  font-size: 12px;
}

.list-item-author {
  font-weight: bold;
  margin-bottom: 5px;
}

.list-item-date {
  margin-top: 5px;
}

/* DocumentComponent.css */

.card {
  height: 200px;
}

.title {
  font-weight: bold;
}

.image-container {
  text-align: center;
  margin-bottom: 10px;
}

.button {
  width: 90%;
  background-color: #0d38b0;
  color: white;
}

.button:hover {
  background-color: #0d38b0;
  color: white !important;
}

.button-container {
  text-align: center;
  margin-top: 8px;
}

.secondary-button {
  width: 45%;
  background-color: #4f9be8;
  color: white;
}

.secondary-button:hover {
  background-color: #4f9be8 !important;
  color: white !important;
}

.menu-button {
  width: 92%;
  background-color: #888783;
  color: white !important;
}

.menu-button :hover {
  background-color: #888783;
  color: white !important;
}

.menu-button2 {
  width: 92%;
  background-color: #4f9be8;
  color: white !important;
}

.menu-button2 :hover {
  background-color: #4f9be8 !important;
  color: white !important;
}

/* menu.css */
.menu {
  background-color: #d9d9d9 !important;
  padding: 0;
  text-align: center;
}

.menu-divider {
  background-color: #fff !important;
}

.docDown {
  position: absolute;
  right: 12px;
  bottom: 7px;
}
.combo {
  width: 45%;
  margin-right: 8px;
  background-color: #0d38b0;
  color: white;
}

.combo:hover {
  background-color: #0d38b0;
  color: white !important;
}

.hiscombo {
  width: 60%;
  background-color: #0d38b0;
  color: white;
}

.hiscombo:hover {
  background-color: #0d38b0;
  color: white;
}

/* Account.css */

.user-content {
  background-color: #fff;
  padding: 30px;
  min-height: 100vh;
}

.back-link {
  color: black;
  cursor: pointer;
  font-size: 12px;
}

.boldFont {
  font-weight: bold;
}

.lightFont {
  font-weight: lighter;
}
.button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
  margin-top: 1.5rem;
}
